<!doctype html>
<html>
<head>
    <title>arcade</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

        <h1>Profile Page</h1>
        <a href="/logout">Logout</a>

<script src="main.js"></script>
</body>
</html>
